/* VARIABLES */

$bg-gradient: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$paper-gradient: linear-gradient(to bottom, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
$paper-dark-gradient: linear-gradient(to bottom, hsl(230, 79%, 58%), hsl(230, 79%, 55%));
$paper-dark-color: hsl(230, 79%, 42%);
$paper-extra-dark-color: hsl(230, 69%, 35%);
$scissors-gradient: linear-gradient(to bottom, hsl(39, 84%, 53%), hsl(40, 89%, 49%));
$scissors-dark-gradient: linear-gradient(to bottom, hsl(39, 74%, 46%), hsl(40, 79%, 42%));
$scissors-dark-color: hsl(40, 79%, 29%);
$scissors-extra-dark-color: hsl(40, 69%, 22%);
$rock-gradient: linear-gradient(to bottom, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
$rock-dark-gradient: linear-gradient(to bottom, hsl(349, 60%, 49%), hsl(349, 61%, 45%));
$rock-dark-color: hsl(349, 61%, 32%);
$rock-extra-dark-color: hsl(349, 51%, 25%);
$lizard-gradient: linear-gradient(to bottom, hsl(261, 72%, 63%), hsl(261, 73%, 60%));
$lizard-dark-gradient: linear-gradient(to bottom, hsl(261, 62%, 56%), hsl(261, 63%, 53%));
$lizard-dark-color: hsl(261, 63%, 40%);
$lizard-extra-dark-color: hsl(261, 53%, 33%);
$spock-gradient: linear-gradient(to bottom, hsl(189, 58%, 57%), hsl(189, 59%, 53%));
$spock-dark-gradient: linear-gradient(to bottom, hsl(189, 48%, 50%), hsl(189, 49%, 46%));
$spock-dark-color: hsl(189, 49%, 33%);
$spock-extra-dark-color: hsl(189, 39%, 26%);
$dark-text-color: hsl(229, 25%, 31%);
$score-text-color: hsl(229, 64%, 46%);
$gray-color: hsl(217, 16%, 45%);
$light-gray-color: hsl(217, 16%, 75%);
$white-color: hsl(0, 0%, 100%);
$bg-color: hsl(237, 49%, 15%);
$shadow-color: hsla(0, 0%, 0%, 0.5);
$green-color: hsl(152, 72%, 36%);
$glow-color: hsla(0, 0%, 100%, 0.25);
$red-color: hsl(349, 80%, 66%);